@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@media screen and (max-width: 1700px) {
  footer {
    font-size: x-small !important;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    display: none !important;
  }
}

.selectMultiple {
  position: relative;
}

.selectMultiple select {
  display: none;
}

.selectMultiple > div {
  position: relative;
  z-index: 2;
  padding: 14px 15px 2px 15px;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  min-height: 44px;
  border: 1px solid #d1d5db;
  transition: box-shadow 0.3s ease;
  min-width: 500px;
  margin-top: 1rem;
}

.selectMultiple > div:hover {
  box-shadow: 6px 6px 0px -1px rgb(22 42 90 / 26%);
}

.selectMultiple > div .arrow {
  right: 1px;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 25px;
  position: absolute;
  margin-right: 1rem;
}

.selectMultiple > div .arrow:before,
.selectMultiple > div .arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 8px;
  border-bottom: 8px solid #99a3ba;
  top: 43%;
  transition: all 0.3s ease;
}

.selectMultiple > div .arrow:before {
  right: 14px;
  transform: rotate(-130deg);
}

.selectMultiple > div .arrow:after {
  left: 14px;
  transform: rotate(130deg);
}

.selectMultiple > div span {
  color: #716389;
  display: block;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 8px;
  line-height: 28px;
  transition: all 0.3s ease;
}

.selectMultiple > div span.hide {
  opacity: 0;
  visibility: hidden;
  transform: translate(-4px, 0);
}

.selectMultiple > div a {
  position: relative;
  padding: 0 24px 6px 8px;
  line-height: 28px;
  color: #1e2330;
  display: inline-block;
  vertical-align: top;
  margin: 0 6px 0 0;
}

.selectMultiple > div a em {
  font-style: normal;
  display: block;
  white-space: nowrap;
}

.selectMultiple > div a:before {
  content: "";
  left: 0;
  top: 0;
  bottom: 6px;
  width: 100%;
  position: absolute;
  display: block;
  background: rgba(228, 236, 250, 0.7);
  z-index: -1;
  border-radius: 4px;
}

.selectMultiple > div a i {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 28px;
  display: block;
}

.selectMultiple > div a i:before,
.selectMultiple > div a i:after {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #3730a3;
  border-radius: 1px;
}

.selectMultiple > div a i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.selectMultiple > div a i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.selectMultiple > div a.notShown {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.selectMultiple > div a.notShown:before {
  width: 28px;
  transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}

.selectMultiple > div a.notShown i {
  opacity: 0;
  transition: all 0.3s ease 0.3s;
}

.selectMultiple > div a.notShown em {
  opacity: 0;
  transform: translate(-6px, 0);
  transition: all 0.4s ease 0.3s;
}

.selectMultiple > div a.notShown.shown {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown:before {
  width: 100%;
}

.selectMultiple > div a.notShown.shown i {
  opacity: 1;
}

.selectMultiple > div a.notShown.shown em {
  opacity: 1;
  transform: translate(0, 0);
}

.selectMultiple > div a.remove {
  pointer-events: none;
}

.selectMultiple > div a.remove:before {
  width: 28px;
  transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}

.selectMultiple > div a.remove i {
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.selectMultiple > div a.remove em {
  opacity: 0;
  transform: translate(-12px, 0);
  transition: all 0.4s ease 0s;
}

.selectMultiple > div a.remove.disappear {
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}

.selectMultiple > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  border-radius: 8px;
  transform: translate(0, 20px) scale(0.8);
  transform-origin: 0 0;
  box-shadow: 0 12px 20px rgba(22, 42, 90, 0.08);
  transition: all 0.4s ease,
    transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}

.selectMultiple > ul li {
  color: #1e2330;
  background: #fff;
  padding: 12px 16px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s,
    opacity 0.5s ease 0.3s, border-radius 0.3s ease;
}

.selectMultiple > ul li:first-child {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li:first-child:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li:last-child {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li:last-child:first-child {
  border-radius: 8px;
}

.selectMultiple > ul li:hover {
  background: #716389;
  color: #fff;
}

.selectMultiple > ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%, -50%);
  transform-origin: 50% 50%;
}

.selectMultiple > ul li.beforeRemove {
  border-radius: 0 0 8px 8px;
}

.selectMultiple > ul li.beforeRemove:first-child {
  border-radius: 8px;
}

.selectMultiple > ul li.afterRemove {
  border-radius: 8px 8px 0 0;
}

.selectMultiple > ul li.afterRemove:last-child {
  border-radius: 8px;
}

.selectMultiple > ul li.remove {
  transform: scale(0);
  opacity: 0;
}

.selectMultiple > ul li.remove:after {
  animation: ripple 0.4s ease-out;
}

.selectMultiple > ul li.show {
  transform: scale(0);
  opacity: 0;
  animation: scale-up 0.35s ease forwards;
}

.selectMultiple.open > div {
  box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
}

.selectMultiple.open > div .arrow:before {
  transform: rotate(-50deg);
}

.selectMultiple.open > div .arrow:after {
  transform: rotate(50deg);
}

.selectMultiple.open > ul {
  transform: translate(0, 12px) scale(1);
  opacity: 1;
  visibility: visible;
  filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  25% {
    transform: scale(30, 30);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(50, 50);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*:before,
*:after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  transition: all 0.4s ease;
}

body .dribbble:hover {
  opacity: 1;
}

body .dribbble img {
  display: block;
  height: 36px;
}

fieldset {
  border: none;
  display: flex;
}

fieldset #project-title,
#max-members,
textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  margin-bottom: 0.75rem;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  min-width: 500px;
}

#max-members {
  min-width: 320px;
}

.field-label {
  border: none;
  min-width: 300px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.wanted-positions {
  margin-left: 300px;
}

.btn-cancel {
  text-decoration: none;
}
