@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@media screen and (max-width: 1700px) {
  footer {
    font-size: x-small !important;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    display: none !important;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  background-color: #f3f4f6;
  flex-direction: column;
  min-height: 100vh;
}

#main-logo {
  width: 10rem;
}

.form-window {
  width: 100%;
  max-width: 400px;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 12vh auto auto;
}

.form-window h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

#register-form,
#login-form,
#forgot-form,
#change-password-form {
  overflow: hidden;
  padding: 2rem 2.5rem;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 6rem;
}

#register-form span,
#login-form span,
#forgot-form span,
#change-password-form span {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

#register-form input,
#login-form input,
#forgot-form input,
#login-form input,
#register-form textarea {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-size: 100%;
  font-family: "Inter", sans-serif;
}

#register-form button:hover,
#login-form button:hover,
#forgot-form button:hover,
#change-password-form button:hover {
  background-color: #544a70;
  cursor: pointer;
}

#signin-btn,
#forgot-btn {
  padding: 0.5rem 1.25rem;
  background-color: #716389;
  color: #ffffff;
  font-weight: 500;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  border-radius: 0.375rem;
  font-size: medium;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
}

#register-btn {
  width: 100%;
  color: #4b5563;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  border-width: 1px;
  border-radius: 0.375rem;
  text-decoration: inherit;
  font-size: medium;
}

#register-form a:hover,
#login-form a:hover,
#forgot-form a:hover,
#change-password-form a:hover {
  color: #4b5563;
  background-color: #f3f4f6;
}

.required {
  color: red;
}

.req {
  display: flex;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

.form-field input:focus {
  outline: none;
}

#register-form input.error {
  border: 2px solid #dc3545;
}

#register-form input.success {
  border: 2px solid #5691f0;
}

.form-field small {
  color: #dc3545;
}

.forgot-password {
  margin-bottom: 0.75rem;
  font-size: small;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffe387;
  line-height: 3rem;
  text-align: center;
}
