@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@media screen and (max-width: 1700px) {
  footer {
    font-size: x-small !important;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    display: none !important;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}

.left-panel {
  display: flex;
  position: fixed;
  background-color: #f3f4f6;
  flex-direction: column;
  min-height: 100vh;
  width: 255px;
}

.logo-container {
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  align-items: center;
}

#main-logo {
  width: 4rem;
}

.logo-icon {
  width: 2.5rem;
}

.left-panel-navigation {
  padding: 0.75rem;
  margin-top: 0.25rem;
}

.account-panel {
  display: flex;
  padding: 1rem;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 3rem;
  margin-left: 1rem;
  width: 180px;
}

.name-panel {
  margin-left: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.name-box {
  color: black;
  text-align: center;
}

.name-panel a {
  text-decoration: none;
}

.sign-out {
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background: #dfd6f2;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  margin-top: 0.2rem;
  font-family: inherit;
}

.sign-out svg {
  margin-right: 0.3rem;
}

.right-panel {
  padding: 2.5rem;
  margin-left: 255px;
  background-color: #ffffff;
  flex: 1 1 0%;
}

.btn {
  background-color: #121212;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

.btn-create {
  background-color: #716389;
}

.btn-cancel {
  color: black;
  background-color: #fefee1;
}

.left-panel-navigation {
  display: flex;
  margin-top: 0.75rem;
  flex-direction: column;
  align-items: center;
}

.left-panel-navigation span {
  margin-left: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.left-panel-navigation svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.left-panel-navigation a {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.5rem;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #6b7280;
}

.left-panel-navigation a:hover {
  background-color: #d1d5db;
}

main {
  margin-top: 2rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffe387;
  line-height: 3rem;
  text-align: center;
}
