@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@media screen and (max-width: 1700px) {
  footer {
    font-size: x-small !important;
  }
}
@media screen and (max-width: 1100px) {
  footer {
    display: none !important;
  }
}

hr.solid {
  border-top: 3px solid #bbb;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*:before,
*:after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

fieldset {
  border: none;
  display: flex;
}

fieldset #first-name,
#last-name,
#current-password,
#new-password,
#confirm-new-password,
textarea {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.375rem;
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-color: #d1d5db;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  margin-bottom: 0.75rem;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  min-width: 500px;
}

.field-label {
  border: none;
  min-width: 300px;
  font-weight: 500;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.btn-cancel {
  text-decoration: none;
}

#change-password-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
