.welcome--message {
  width: 100%;
  max-width: 1100px;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 12vh auto auto;
  background-color: white;
  padding: 3rem 5rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome--message h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.welcome--message-text {
  margin-bottom: 2rem;
}

#started-btn {
  padding: 0.5rem 1.25rem;
  background-color: #675396;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: medium;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
}

#started-btn:hover {
  background-color: #53417b;
  cursor: pointer;
}

#have-account-btn {
  background-color: #fadb76;
  color: #161616;
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  border-radius: 0.375rem;
  font-size: medium;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  text-decoration: none;
}

#have-account-btn:hover {
  background-color: #c6af64;
  cursor: pointer;
}
