<section class="modal hidden">
  <div class="requests-title">
    <h3>Join requests</h3>
  </div>
  <div class="join-requests-list"></div>
  <button class="btn-close" role="button">
    <span class="icon-cross"></span>
    <span class="visually-hidden">Close</span>
  </button>
</section>
